# What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
# Database is an application where you are tooring the datas There are mainly two types
# of databases.One is Sql structure query language,a structured database .eg:Oracle,mysql,DB2etc
# Nosql is not only SQL,which is a non structured query language eg: MongoDB,Cassandra,Hbase etc

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
# data definition language.these are used to create drop alter and truncate the table
# create command is used to create a table
# drop table is used to drop the table
# alter command is used to alter the structure of the table
# truncate command is used to delete the data from the table
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists My_database")
mycursor.execute("alter table My_database.UG add percentage int(3)")
mycursor.execute("truncate table My_database.UG")
mycursor.execute("drop table My_database.UG")

# What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()
mycursor.execute("INSERT INTO My_database.UG values('jasmin','Mtech')")
mycursor.execute("select * from My_database.UG")
for x in mycursor:
  print(x)
mydb.close()

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()
update_query="UPDATE My_database.UG SET Name = 'JASIM' WHERE DEGREE = 'Mtech'"
mycursor.execute(update_query)
mycursor.execute("select * from My_database.UG")
for x in mycursor:
    print(x)
mydb.close()

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()
mycursor1=mydb.cursor()
delete_table="DELETE FROM My_database.UG WHERE Name='JASIM'"
mycursor.execute(delete_table)

mycursor.execute("SHOW TABLES from My_database")
for x in mycursor:
    print(x)



mydb.close()

# What is DQL? Explain SELECT with an example.

In [ ]:
# DQL is Data Query Language,used for grouping

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()
mycursor.execute("SELECT * from My_database.UG")
for j in mycursor:
    print("the cotents are",j)
mydb.close()

# Q5. Explain Primary Key and Foreign Key.

In [1]:
# primary key is the unique key for a table.
# foriegn key is the key of a table which is a primary key of another table

# Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor=mydb.cursor()

# cursor is used to fetch the contents like a mouse
# execute is used to execute the commands fetch using cursor

# Give the order of execution of SQL clauses in an SQL query.

In [ ]:
#from ,where ,having select