# What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [ ]:
# mongodb is a non relational database ,it is used to store unstructured data.There is no structure or relationship among 
different documents.Mongodb is preferred when we need to alyer the database according to different circumstances.

# Q2. State and Explain the features of MongoDB.

In [ ]:
# flexible,reliable,scalable

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [25]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pymongo

In [50]:

client = pymongo.MongoClient("mongodb+srv://jasminmr:jasminmr@cluster0.ly462vq.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [51]:
client

MongoClient(host=['ac-wflnbig-shard-00-02.ly462vq.mongodb.net:27017', 'ac-wflnbig-shard-00-00.ly462vq.mongodb.net:27017', 'ac-wflnbig-shard-00-01.ly462vq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-cwr5ic-shard-0', tls=True)

In [52]:
db1=client['Students'] # create database named Students

In [ ]:
col_stud=db1['records_stud'] # create a collection/table named records_stud

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [54]:
data={
    'name':'MERSIHA',
    'Roll_no':1,
    'Adm_no':123,
    'class':5,
    'Div':'A'
    }

In [55]:
col_stud.insert_one(data)

In [56]:
data1={
    'class':5,
    'Div':'B',
    'subject_teachers':['English','Hindi','Malayalam','Maths']

}

In [57]:
col_stud.insert_one(data1)

In [59]:
data2=[{'Name':'Mersiha','English':30,'Malayalam':40},
       {'Name':'Manha','English':20,'Malayalam':40},
       {'Name':'Mehwish','English':35,'Malayalam':40},
       {'Name':'Mehjana','English':40,'Malayalam':40},
       {'Name':'Menaka','English':30,'Malayalam':40}
       ]

In [60]:
col_stud.insert_many(data2)

In [61]:
for i in col_stud.find():
    print(i)

{'_id': ObjectId('63f4e9fe34cf2da0056aeece'), 'name': 'MERSIHA', 'Roll_no': 1, 'Adm_no': 123, 'class': 5, 'Div': 'A'}
{'_id': ObjectId('63f4ebbb34cf2da0056aeecf'), 'class': 5, 'Div': 'B', 'subject_teachers': ['English', 'Hindi', 'Malayalam', 'Maths']}
{'_id': ObjectId('63f4ecc834cf2da0056aeed0'), 'Name': 'Mersiha', 'English': 30, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed1'), 'Name': 'Manha', 'English': 20, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed2'), 'Name': 'Mehwish', 'English': 35, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed3'), 'Name': 'Mehjana', 'English': 40, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed4'), 'Name': 'Menaka', 'English': 30, 'Malayalam': 40}

In [67]:
for i in col_stud.find({'Name':'Mersiha'}):
    print(i)

{'_id': ObjectId('63f4ecc834cf2da0056aeed0'), 'Name': 'Mersiha', 'English': 30, 'Malayalam': 40}

In [68]:
col_stud.find_one()

{'_id': ObjectId('63f4e9fe34cf2da0056aeece'),
 'name': 'MERSIHA',
 'Roll_no': 1,
 'Adm_no': 123,
 'class': 5,
 'Div': 'A'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [72]:
# find method is used to retrieve the datas based on condition or without condition from the collection.
for i in col_stud.find():
    print(i)

{'_id': ObjectId('63f4e9fe34cf2da0056aeece'), 'name': 'MERSIHA', 'Roll_no': 1, 'Adm_no': 123, 'class': 5, 'Div': 'A'}
{'_id': ObjectId('63f4ebbb34cf2da0056aeecf'), 'class': 5, 'Div': 'B', 'subject_teachers': ['English', 'Hindi', 'Malayalam', 'Maths']}
{'_id': ObjectId('63f4ecc834cf2da0056aeed0'), 'Name': 'Mersiha', 'English': 30, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed1'), 'Name': 'Manha', 'English': 20, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed2'), 'Name': 'Mehwish', 'English': 35, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed3'), 'Name': 'Mehjana', 'English': 40, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed4'), 'Name': 'Menaka', 'English': 30, 'Malayalam': 40}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [105]:
# sort method is used to sort the fields based on certain conditions
for i in col_stud.find().sort('_id',-1):
    print(i)

{'_id': ObjectId('63f4ecc834cf2da0056aeed4'), 'Name': 'Menaka', 'English': 30, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed3'), 'Name': 'Mehjana', 'English': 40, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed2'), 'Name': 'Mehwish', 'English': 35, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed1'), 'Name': 'Manha', 'English': 20, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed0'), 'Name': 'Mersiha', 'English': 30, 'Malayalam': 40}
{'_id': ObjectId('63f4ebbb34cf2da0056aeecf'), 'class': 5, 'Div': 'B', 'subject_teachers': ['English', 'Hindi', 'Malayalam', 'Maths']}
{'_id': ObjectId('63f4e9fe34cf2da0056aeece'), 'name': 'MERSIHA', 'Roll_no': 1, 'Adm_no': 123, 'class': 5, 'Div': 'A'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [126]:
delete_items={'Name':'Menaka'}
col_stud.delete_one(delete_items) # delete_one is used to delete one record that is retrieved at first


for i in col_stud.find():
    print(i)

{'_id': ObjectId('63f4e9fe34cf2da0056aeece'), 'name': 'MERSIHA', 'Roll_no': 1, 'Adm_no': 123, 'class': 5, 'Div': 'A'}
{'_id': ObjectId('63f4ebbb34cf2da0056aeecf'), 'class': 5, 'Div': 'B', 'subject_teachers': ['English', 'Hindi', 'Malayalam', 'Maths']}
{'_id': ObjectId('63f4ecc834cf2da0056aeed0'), 'Name': 'Mersiha', 'English': 30, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed1'), 'Name': 'Manha', 'English': 20, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed2'), 'Name': 'Mehwish', 'English': 35, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed3'), 'Name': 'Mehjana', 'English': 40, 'Malayalam': 40}

In [143]:
delete_items1= {'Name':'Mehwish','Name':'Manha'} 

col_stud.delete_many(delete_items1) # delete many is ude to delete multiple data from the collection

In [144]:
for i in col_stud.find():
    print(i)

{'_id': ObjectId('63f4e9fe34cf2da0056aeece'), 'name': 'MERSIHA', 'Roll_no': 1, 'Adm_no': 123, 'class': 5, 'Div': 'A'}
{'_id': ObjectId('63f4ebbb34cf2da0056aeecf'), 'class': 5, 'Div': 'B', 'subject_teachers': ['English', 'Hindi', 'Malayalam', 'Maths']}
{'_id': ObjectId('63f4ecc834cf2da0056aeed0'), 'Name': 'Mersiha', 'English': 30, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed2'), 'Name': 'Mehwish', 'English': 35, 'Malayalam': 40}
{'_id': ObjectId('63f4ecc834cf2da0056aeed3'), 'Name': 'Mehjana', 'English': 40, 'Malayalam': 40}

In [145]:
col_stud.drop() # drop is used to delete all the documents from the collection

In [146]:
for i in col_stud.find():
    print(i)