Q1. What is Statistics?

In [1]:
# science  of collectiong,organizing and analyzing the data

Define the different types of statistics and give an example of when each type might be used.

In [2]:
# two types:
#     descriptive statistics eg:mean of a data
#     inferential statistics eg:infering a conclusion from a sample which are taken from a population
#     eg:voting prediction

Q3. What are the different types of data and how do they differ from each other? Provide an example of
each type of data.

In [3]:

# Quantitative and Qualitative
# Quantitative again divided into two:discrete and continuous
# Qualitative again divided into 2: Nominal and Ordinal
# discrete quantitative eg:dice problem
# continuous quantitative eg: house price
# Nominal qualitative:Gender
# Ordinal Qualitative eg:Grade

Q4. Categorise the following datasets with respect to quantitative and qualitative data types:

In [5]:
# (i) Grading in exam: A+, A, B+, B, C+, C, D, E #Qualitative, Nominal
# (ii) Colour of mangoes: yellow, green, orange, red#Qualitative, Nominal
# (iii) Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...]#Qnatitative,continuous
# (iv) Number of mangoes exported by a farm: [500, 600, 478, 672, ...]#Quantitative,discrete

Q5. Explain the concept of levels of measurement and give an example of a variable for each level.

In [6]:
# 4 types
# Nominal scale data eg:gender
# ordinal scale data eg:designations
# interval scale data eg:IQ
# ratio scale data eg:grades

In [10]:
# Q6. Why is it important to understand the level of measurement when analyzing data? Provide an
# example to illustrate your answer.

In [9]:
# It is important to look on the level of measurement of an attribute in the dataset for analyzing the data.
# if the data is discrete ,it is not possible to perform any kind of mathematical operations on it.
# if it is continuous it is possible to perform different kinds of mathematical analysis on it.

Q7. How nominal data type is different from ordinal data type.

In [11]:
# Nominal data type eg:gender,it is not possible to differentiate
# Ordinal data type eg:rating like good average

Q8. Which type of plot can be used to display data in terms of range?

In [12]:
# scatter plot

Q9. Describe the difference between descriptive and inferential statistics. Give an example of each
type of statistics and explain how they are used.

In [1]:
# descriptive statistics we can find out some insights of datasets like how much data is dispersed from central mean etc
# where as in inferential statistics we are trying infer our insights or conclusion about a data is same as that of the actual one
# eg: mean mode,median etc are some of the common descriptive statistics
# eg: pvalue,z value,ptest,

In [2]:
import seaborn as sns

In [4]:
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [8]:
import numpy as np
np.mean(tips['total_bill'])

19.78594262295082