In [4]:
a=10

In [5]:
print(a)

10

# Assignment_29/01/2023

## it will execute same as comments but appeared in a cell
hello 1 2 3 
print(a)

hello

In [1]:
my_age=38
print(f"My age is {my_age}")

My age is 38

In [4]:
name='jasmin'
print("My name is {My_name} and my age is {age}".format(My_name=name,age=my_age))

My name is jasmin and my age is 38

In [5]:
degree='Mtech'
print(f"My age is {my_age} and i have completed: my degree of {degree} with the name of {name}")

My age is 38 and i have completed: my degree of Mtech with the name of jasmin

In [10]:
new_age=int(input("Please enter your age"))
if new_age< 18:
    print("you are not allowed to vote by law")
else:
    print("You can succesfully vote")

Please enter your age 20

You can succesfully vote

# Assignment

In [9]:
product_price=int(input("please enter your product prize"))
if product_price >1000:
    off=(product_price*(20/100))
    product_price_off=product_price-off
    print(f"The price of the product is {product_price_off}")
elif product_price<=1000:
    off=(product_price*(30/100))
    product_price_off=product_price-off
    print(f"The price of the product is {product_price_off}"

please enter your product prize 5000

The price of the product is 4000.0

In [17]:
product_price=int(input("please enter your product prize"))
if product_price >3000:
    off=(product_price*(20/100))
    product_price_off=product_price-off
    print(f"The price of the product is {product_price_off}")
elif ((product_price>=2000) and (product_price<=3000)):
    if product_price==2999:
        print("congratulations!!!! you are getting suitcase as your additional gift")
    off=(product_price*(30/100))
    product_price_off=product_price-off
    print(f"The price of the product is {product_price_off}")
elif ((product_price>=1000) and (product_price<2000)):
    off=(product_price*(40/100))
    product_price_off=product_price-off
    print(f"The price of the product is {product_price_off}")

please enter your product prize 2999

congratulations!!!! you are getting suitcase as your additional gift
The price of the product is 2099.3

# Loop Statements
* while loop

In [21]:
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
print("sorry")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
sorry

# Loop statements
* For Loop

In [24]:
List_name=["sunday",'Monday','Tuesday','wednesday','thursday','friday','saturday','sunday']
for i in List_name:
    if i=='sunday':
        print(f"Hurray!!!!its {i}")

Hurray!!!!its sunday
Hurray!!!!its sunday

# Assignment_Nested Loop(patterns) 30/01/2023

In [2]:
for i in range(0,10):
    print(' '*(10-i),end='')
    for j in range(0,i*2+1):
        print("*",end='')
    print('\r')

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

# DAY 3

In [1]:
course_name="DATA SCIENCE MASTERS"

In [4]:
course_name[5:13]

'SCIENCE '

In [15]:
course_name[-9:4:-1]

'ECNEICS'

######